.sidebar{
    padding-left: 20px;
}

.listItem__sidebar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.iconList__sidebar{
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    justify-content: center;
    color: rgb(28, 150, 226);
}

.iconTitle__sidebar{
    margin-left: 10px;
    font-weight: 600;
}