.story {
    position: relative;
    width: 120px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: no-repeat;
    
    -webkit-box-shadow: 3px 16px 11px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 16px 11px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 16px 11px -16px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover {
    transform: scale(1.07);
}

.story > h4 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.story > .MuiAvatar-root {
    border: 5px solid #2e81f4;
    box-sizing: border-box;
    margin: 10px;
}
